<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kakao.sdk.sample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".com.example.wantplant.utils.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".common.internal.FriendsActivity"
            android:label="@string/select_friends"
            android:parentActivityName=".common.MainActivity" />
        <activity
            android:name=".common.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".common.KakaoAppLinkActivity"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="kakaoe19a463823bdbefb87c2c66c3fb6ab59" />
                <data android:host="kakaolink" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakaoe19a463823bdbefb87c2c66c3fb6ab59" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.kakao.sdk.talk.FollowChannelHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="kakaoe19a463823bdbefb87c2c66c3fb6ab59" />
                <data android:host="channel" />
            </intent-filter>
        </activity>
    </application>

</manifest>
